<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Home")</li>
                    <li>@Html.ActionLink("Manage", "Manage", "Manager")</li>
                    <li>@Html.ActionLink("History", "History", "Order")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Cart"><span class="glyphicon glyphicon-shopping-cart"></span> Total: <span data-bind="text: customerVM.TotalAmount"></span> / $<span data-bind="text: customerVM.TotalCost"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/cart")
    @RenderSection("scripts", required: false)
</body>
</html>
